<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Integral Number</title>
</head>
<body>
    <div class="text-center">
        <h2>Here are the last five results of the program...</h2>
        <table>
            <tr>
                <td><h4 style="color:red">ID</h4></td>
                <td><p></p></td>
                <td><h4 style="color:black">Number</h4></td>
                <td><p></p></td>
                <td><h4 style="color:green">Solution</h4></td>
            </tr>
            @foreach (var n in ViewBag.Numbers)
            {
                <tr>
                    <td><p>@n.NumberID</p></td>
                    <td><p></p></td>
                    <td><p>@n.Num</p></td>
                    <td><p></p></td>
                    <td><p>[@n.Result]</p></td>
                </tr>
            }
        </table>
        <div id="message"></div>
        <h3 style="color:red">Enter a positive number...</h3>
        <form method="post" action="/Home/Result">
            <input id="num" type="number" name="Number" />
            <input id="submit" type="submit" value="To Calculate..." />
        </form>
    </div>
    <script>
        "use strict"
        let tr = document.getElementsByTagName('table').item(0).getElementsByTagName('tr').length;
        let mes = document.getElementById('message');
        if (tr < 5) {
            mes.innerHTML = "<h6>There are no more results in Database...</h6>";
            mes.style.color = 'red';
        }
        let form = document.querySelector("form");
        let value = document.querySelector("#num");
        form.addEventListener("submit", function (ev) {
            if (value.value > 46343) alert('The Number is out of Range!');
            else if (value.value < 1) alert('The Number is not positive!');
        })
    </script>
</body>
</html>