
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Integral Number</title>
</head>
<body>
    <div class="text-center">
        <h2>Here are the result of the program...</h2>
        <table>
            <tr>
                <td><h4 style="color:black">Number</h4></td>
                <td><p></p></td>
                <td><h4 style="color:green">Solution</h4></td>
            </tr>
            <tr>
                <td><p>@ViewBag.Number.Num</p></td>
                <td><p></p></td>
                <td><p>[@ViewBag.Number.Result]</p></td>
            </tr>
        </table>
    </div>
</body>
</html>
